<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Avatar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar-container">
    <ion-chip class="avatar">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" />
      </ion-avatar>
      <ion-label>Kenneth</ion-label>
    </ion-chip>
  </div>
</ion-content>

