<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Icons
    </ion-title>
  </ion-toolbar>
</ion-header>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <ion-icon name="logo-ionic"></ion-icon>
  <ion-icon name="logo-ionic" size="large"></ion-icon>
  <ion-icon name="logo-ionic" color="primary"></ion-icon>
  <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
</div>