
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Accordion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="primary">
      <ion-icon slot="start" name="musical-notes"></ion-icon>
      <ion-label>Musica</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Eye Of The Tigger-Survivor</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="secondary">
      <ion-icon slot="start" name="planet"></ion-icon>
      <ion-label>Planetas</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Marte</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="tertiary">
      <ion-icon slot="start" name="rose"></ion-icon>
      <ion-label>Plantas</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Girasol</div>
  </ion-accordion>
</ion-accordion-group>







