<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Thumbnail
    </ion-title>
  </ion-toolbar>
</ion-header>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <ion-thumbnail >
    <img alt="Silhouette of mountains" src="https://img.freepik.com/foto-gratis/diseno-web-sitio-web-internet-concepto-software-receptivo_53876-124757.jpg?size=626&ext=jpg&ga=GA1.1.662920514.1682130459&semt=ais" />
  </ion-thumbnail>
</div>
